@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1bagpb');
  src:  url('fonts/icomoon.eot?1bagpb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1bagpb') format('truetype'),
    url('fonts/icomoon.woff?1bagpb') format('woff'),
    url('fonts/icomoon.svg?1bagpb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart2:before {
  content: "\2665";
}
.icon-pokeball:before {
  content: "\e900";
}
.icon-battle:before {
  content: "\e901";
}
